<div class="pagehead"><h1>Writematic</h1></div>
<p>c. 2015</p>
<br>
<p>Writematic is a community for creative professionals who are looking to make their mark on the world.</p>
<p>We seek to expose writers to as large an audience as possible.</p>
<%= link_to "Back", root_path %>
